<div class="context">
  <span class="title">{{page.component.title}}</span>
  <button class="version" id="browse-version">{{page.componentVersion.displayVersion}}</button>
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
</div>